<div class="ui vertical menu">
    <div class="item">
        <div class="header">Account settings</div>
        <div class="menu">
            <div class="item">
                <a href="@Url.Action("Index", "Manage")"><i class="user alternate icon"></i> You</a>
            </div>
            <div class="item">
                <a href="@Url.Action("ChangePassword", "Manage")"><i class="unlock alternate icon"></i> Change password</a>
            </div>
            <div class="item">
                <a href="@Url.Action("ManageLogins", "Manage")"><i class="unlock icon"></i> Manage external logins</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="header">Manage reports</div>
        <div class="menu">
            <div class="item">
                <a class="disabled">My reports</a>
                <div class="ui red horizontal label">
                    Soon!
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="header">Support</div>
        <div class="menu">
            <div class="item">
                <a class="disabled">E-mail Support</a>
                <div class="ui red horizontal label">
                    Soon!
                </div>
            </div>
            <div class="item">
                <a class="disabled">FAQs</a>
                <div class="ui red horizontal label">
                    Soon!
                </div>
            </div>
        </div>
    </div>
</div>

