@{
    ViewBag.Title = "About";
}

<div class="ui container content">
    <h2>@ViewBag.Title</h2>

    <p>
        The Procitozen team and its partners have the mission to consolidate and develop the capacity of civil society within the country. We give you the opportunity to pursue your civil rights of your status as a inhabitant or resident in a particular territory. Through Procitizen, you can easily and quickly contact institutions with a signal or suggestion concerning your local community.
        In order to use our services you need to sign up, choose the category your report belongs among a complaint and proposal. Then you need to choose from the suggested areas (education, administrative services, healthcare, etc.) and describe your signal as narrowly as possible.
        We commit ourselves to verbally submit your written statement to the relevant authorities and request a response within two weeks. You can expect our feedback as a mediator and a participant in the process among the affected parties.
        In addition, Procitizen is an instrument of civil participation
        and method of exercising control over local authorities.
    </p>
</div>