@{
    ViewBag.Title = "Contact";
}
<div class="ui container content">
    <h2>@ViewBag.Title</h2>

    <address>
        Georgi Marokov<br />
        <abbr title="Phone">Phone:</abbr>
        +359889576578
    </address>

    <address>
        <strong>Email me:</strong>   
        <a href="mailto:georgi.marokov@gmail.com">georgi.marokov@gmail.com</a>
    </address>
</div>