@{
    ViewBag.Title = "Admin panel";
}

<div class="ui container content">
    <h2>@ViewBag.Title</h2>
    <div class="ui four cards text-center">
        <a href="@Url.Action("All", "Reports", new { area = "Administration"})" class="card ">
            <div class="content">
                <div class="header"><i class="circular file text outline icon"></i><br/> Manage Reports</div>
            </div>
        </a>
        <a class="card">
            <div class="content">
                <div class="header"><i class="circular spy icon"></i><br /> Manage Users</div>
            </div>
        </a>
        <a class="card">
            <div class="content">
                <div class="header"><i class="circular university icon"></i><br /> Manage Institutions</div>
            </div>
        </a>
        <a class="card">
            <div class="content">
                <div class="header"><i class="circular tag icon"></i><br /> Manage Categories</div>
            </div>
        </a>
        <a class="card">
            <div class="content">
                <div class="header"><i class="circular options icon"></i><br /> App settings</div>
            </div>
        </a>
    </div>
</div>
